@model IEnumerable<WEBAPP.Categoria>
<ul class="nav navbar-nav navbar-left">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.NombreCategoria, "Categoria", "Producto", new {categoria = item.NombreCategoria},null)</li>
        }
</ul>
